html {
  font-size: 62.5%; //base size 10
  height: 100%;
}

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
  height: 100%;
}

a {
  cursor: pointer;
  color: black;
  transition-duration: .25s;
  &:hover {
    color: white;
  }
}
